

{% extends 'base.html' %}

{% block title %} 
About
{% endblock title %} 

{% block jumbotron %}
        <!--Jumbotron start-->
        <div class="jumbotron">
          
          <h1 class="display-4" style = "text-align:center">About Us</h1><br><br><br>

          <p><h3 style = "text-align:center; color:rgba(226, 231, 216, 0.973)"><b>Welcome to Torpido !</b> </h3></p>
          <p class="lead">Torpido is dedicated to providing excellence in healthcare for infants, adolescents, adults as well as old age people in a comprehensive manner.  
          Our objective is to reduce the day to day problems faced by patients and doctors like :-
<br>
<ul style = "list-style-type : none">
<li>1. deficient manpower</li>
<li>2. unmanageable patient load</li>
<li>3. long patient wait time</li> 
</ul>
</p>
 <p class="lead">
            We will diagnose the patient based on the symptoms that he/she inputs and accordingly provide the probable differential diagnosis.
            
            It is our hope and intention that you receive high quality care and treatment and we will not stop short of anything but the very best !</p>
</p>
      </div>


      <!--jumbotron end-->
{% endblock jumbotron %}

{% block svg %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#3282b8" fill-opacity="1"
                d="M0,160L30,176C60,192,120,224,180,218.7C240,213,300,171,360,160C420,149,480,171,540,202.7C600,235,660,277,720,266.7C780,256,840,192,900,149.3C960,107,1020,85,1080,106.7C1140,128,1200,192,1260,197.3C1320,203,1380,149,1410,122.7L1440,96L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z">
            </path>
        </svg>
{% endblock svg %}

{% block body %}
  <section class = " text-center team">
    <h1>Core Team</h1>
    <div class = "container-fluid">
      <div class="card-group">
        <div class="card m-3">
    
          <div class="card-body">
            <h5 class="card-title"><u>Shiv Sagar Shah</u></h5>
            <p class="card-text">2019UCS2006</p>
            <p class="card-text">shiv.cs19@nsut.ac.in</p>
            <p class="card-text">github.com/ShivSagarShah</p>
            <p class="card-text">linkedin.com/in/shiv-sagar-shah/</p>
            {% comment %} <ul style = "list-style-type : none">
            <li>shiv.cs19@nsut.ac.in</li> 
            <li>github.com/ShivSagarShah</li>
            </ul> {% endcomment %}

          
          </div>
        </div>
        <div class="card m-3">
    
          <div class="card-body">
            <h5 class="card-title"><u>Deepak Prakash</u></h5>
            <p class="card-text">2019UCS2018</p>
            <p class="card-text">deepak.prakash.cs19@nsut.ac.in</p>
            <p class="card-text">github.com/deepakdpy</p>
            <p class="card-text">linkedin.com/in/deepak-prakash-2001/</p>
           
          </div>
        </div>
        <div class="card m-3">
    
          <div class="card-body">
            <h5 class="card-title"><u>Monika Sharma</u></h5>
            <p class="card-text">2019UCS2021</p>
            <p class="card-text">monika.cs19@nsut.ac.in</p>
            <p class="card-text">github.com/Monika832</p>  
            <p class="card-text">linkedin.com/in/monika-sharma-29ab421ba/</p>          
           
          </div>
        </div>
        <div class="card m-3">
    
          <div class="card-body">
            <h5 class="card-title"><u>Nupur Sudhakar</u></h5>
            <p class="card-text">2019UCS2048</p>
            <p class="card-text">nupur.cs19@nsut.ac.in</p>
            <p class="card-text">github.com/Nupur18</p>  
            <p class="card-text">linkedin.com/in/nupur-sudhakar/</p>         
          </div>
        </div>
        <div class="card m-3">
    
          <div class="card-body">
            <h5 class="card-title"><u>Snigdha Gupta</u></h5>
            <p class="card-text">2019UCS2066</p>
            <p class="card-text">snigdha.cs19@nsut.ac.in</p>
            <p class="card-text">github.com/Snigdha7906</p> 
            <p class="card-text">linkedin.com/in/snigdha-gupta-038b69170/</p>         
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--MAIN STARTS-->
  <main>

  </main>



{% endblock body %}
   

   